body { background-color: var(--blue); }
 
 h1{
    border: 2px solid red;
    display: inline;
    outline-style: dashed;
    color: red;
}


div > p {
    background-color: black;
    color: white; */
}
