* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.container {
  width: 250px;
  height: 250px;
  background-color: aqua;
}


.container1{
    width: 250px;
    height: 250px;
}

.container2{
    width: 250px;
    height: 250px;
}

.container3{
    width: 250px;
    height: 250px;
}

.container4{
    width: 250px;
    height: 250px;
}



















