* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
/* body{
  /* text-align: center; */

.container {
  /* text-align: center; */

  background-color: aqua;
  /* ?ana div e her yönden 10px dıs uzaklık verdık  */
  margin: 10px;
  /*? ana divin iç hacmini her yönden 20px genişletik  */

  padding: 20px;
  /* width: 200px; */
  /* text-align: center; */
}

.div {
  background-color: antiquewhite;
  margin-bottom: 10px;
  margin-top: 20px;
  /*  ?burada padingin bir iç hacim oldugunu marginin dış uzaklık oldugunu gördük */
  padding: 20px;
  /* width: 50%; */
  width: 100px;
  text-align: center;
  margin: 20px;
  border: 1px;
}
