* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(https://cdn.pixabay.com/photo/2021/10/27/13/15/cat-6747298_960_720.jpg);
}
h1 {
  padding: 20px 0;
  text-align: center;
  /* background-color: brown; */
}
form {
  background-color: antiquewhite;
  width: fit-content;
  margin: 20px auto;
  padding: 30px;
}
label {
  display: inline-block;
  width: 100px;
}
/* .gender-div label{
    width: auto;
} */

.lang-div,
.gender-div {
  display: inline-block;
}

.lang-div label .gender-div label {
  width: auto;
  /* margin-right: 10px; */
}
.inputs {
  border-radius: 8px;
  width: 220px;
  padding: 5px 5px;
  margin-bottom: 10px;
  border: none;
}
.radio-check {
  margin-bottom: 20px;
}
.btn-container {
  text-align: center;
}
.btn-container input {
  width: 100px;
  border-radius: 10px;
  border: none;
  padding: 5px 5px;
  background-color: rgb(252, 235, 188);
  height: 30px;

  cursor: pointer;
  font-size: 15px;
  color: pr;
}
.adres-divi * {
  vertical-align: middle;

  /* ?vertical align komutu ireysel bir komut oldugundan normalde uygulandgı yere etkı eder fakatyıldız isareti kullanımı butun kullanıma olanak saglar */
}
