/* Error: Expected expression.
 *     ,
 * 108 | background-color: ;
 *     |                   ^
 *     '
 *   style.scss 108:19  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a     \2577 \a 108 \2502  background-color: ;\d\a     \2502                    ^\a     \2575 \a   style.scss 108:19  root stylesheet";
}
