* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//********************************************/
//* Variable Declaration
//********************************************/

$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 1.2rem;
$navBgColor: #30a7c3;
$bannerBgColor: hotpink;
$myBorder: 2px solid brown;
$fontColor: white;
$buttonColor: rgb(227, 160, 160);

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
}

// ==================HEADER=================

header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  img {
    width: 80px;
    border: $myBorder;
    border-radius: 10px;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0.5rem;
      // !   &-içinde bulunugumuz elementi refere etmek için kullanılır
      &:hover {
        text-decoration: underline;
      }
    }
  }
  a {
    color: $fontColor;
    text-decoration: none;
  }
}

// =====================BANNER=========================

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bannerBgColor;
    padding: 1rem;
    line-height: 2rem;
    aside{
button{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: $navBgColor;
    margin-top: 1rem;
    margin-right: 0.5rem;
    &:hover{
        background-color: pink;
        cursor: pointer;
    }
}
    }
    img{
        width: 30%;
        min-width: 250px;
        max-width: 350px;
    }
}
// =========================CARDS================


@mixin myBox($backColor, $color) {
    background-color: $backColor;
    color:$color ;
    width: 25%;
    height: 15rem;
    border: $myBorder;
    border-radius: 5px;    
}

.cards{
    display: flex;
    gap: 0.5rem;
    padding: 0.8rem;
    .card1{
        @include myBox(yellow, red)
    }
    
    .card2{
        @include myBox(blue, white)
    }
background-color: ;
    .card3{
        @include myBox(green, yellow)
    }

    .card4{
        @include myBox(magenta, orange)
    }

}

// =======================EXTEND==================

.articles{
    display: flex;
    padding: 1rem;
    gap: 1rem;

    .article1{
        background-color: grey;
        width: 50%;
        height: 10rem;
        border-radius: 5px;
        border: 2px solid black;
    }
    .article2{
@extend .article1;
background-color: lightcoral;
border-color: darkmagenta;
    }
}
// ===================FOOTER=====================


//! FOR LOOP =============
// ********************************
//! IF-ELSE===============
// ***************************


footer{
    $dark:4;

    p{
        @if  $dark==1 {
            background-color:gray;
        } @else if $dark==2 {
            background-color: lightgray;
        } @else {
            background-color: orangered;
        }
    }
    .social-icon{
        display: flex;
        height: 10rem;
        $textColor: #990000, #55004E, #0FA8A1, #121456, #64C217;
        @for $i from 1 through 5 {
            .social#{$i}{
                width: 20%;
                background-color: lighten(blue, $i*5);
                font-size: $i * 1rem;
                color: nth($textColor,$i);
            }
        }

    }
}














