*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
    color: yellow;
}

.conteiner{
    background-color: #D46461;
    border: 3px solid black;
    padding: 30px;
    width: 20rem;
    margin: auto;
    height: 300px;
    border-radius: 5px;
    
}
.logo{
    border: 3px solid black;
    border-radius: 100%;
    width: 7%;
    position: relative;
    left: 650px;
    top: 50px;
}































































