* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

.box,
.box2,
.box3,
.box4 {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  opacity: 0.7;
}
.box {
    height: 100vh;
    background-image: url(../img/bg.jpg);
  }
  
  .box2 {
    height: 70vh;
    background-image: url(../img/bg2.jpg);
  }
  
  .box3 {
    height: 80vh;
    background-image: url(../img/bg3.jpg);
  }
  
  .box4 {
    height: 80vh;
    background-image: url(../img/bg4.jpg);
  }
  span {
    background-color: black;
    color: white;
    font-size: 48px;
    letter-spacing: 8px;
  }
  .big-span {
    padding: 32px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    outline: 8px inset purple;
    outline-offset: 16px;
  }
  .small-span{
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: 6px inset purple;
    outline-offset: 4px;
  }
  h1 {
    padding-top: 75px;
  }
  
  p {
    padding: 30px 80px 50px;
    line-height: 2;
  }
  .white{
    background-color: rgb(241, 241, 241);
    color: #666;
  }
  .black{
    background-color: #282e34;
    color: #ddd;
  }

  img {
    width: 30%;
  }

    span {
      font-size: 35px;
      letter-spacing: 6px;
    }
  
 
    span {
      font-size: 25px;
      letter-spacing: 4px;
    }
    p {
      padding: 25px 50px 40px;   
      line-height: 1.6;
    }
    .clarusway-background,
    .clarusway-background2,
    .clarusway-background3,
    .clarusway-background4 {
      height: 80vh;
    }
  }
  

    span {
      font-size: 18px;
      letter-spacing: 2px;
    }
    p {
      padding: 15px 30px 20px;
      line-height: 1.4;
    }
    h1 {
      padding-top: 30px;
    }
    .box,
    .box2,
    .box3,
    .box4 {
      height: 50vh;
    }
  






