* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* ======================================== */
#google {
  width: 20px;
  height: 20px;
}
/* ==================================== */
.nav-left {
  float: left;
}
.nav-left a:hover {
  text-decoration: underline;
}
.nav-left a {
  padding: 10px;
  text-decoration: none;
}
/* ======================================== */

.nav-right {
  float: right;
  margin-top: 0px;
}

.nav-right a:hover {
  text-decoration: underline;
}

.nav-right a {
  padding: 10px;
  text-decoration: none;
}
.nav-right button {
  color: white;
  background-color: #4285f4;
  border: none;
  height: 30px;
  width: 70px;
  font-weight: bold;
  border-radius: 2px;
}
header {
  padding: 15px;
}
/* ======================================== */




section {
    margin-top: 50px;
        /* border: 2px solid red; */
        text-align: center;
        width: 100%;
        height: 490px;
}

.box input{
    padding: 10px 130px;
    border-radius: 50px;
}

.box img{
    
    
}

section button{
     width: 120px;
    height: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}
section button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.box p{
    font-size: small;
    
}

.box-img {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    padding: 10px;
  }
#tek {
  background-color: rgba(0, 0, 0, 0.1);
}


footer {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-left: 10px;
  line-height: 40px;
  font-size: 14px;
  border-top: 1px solid #bebaba;
  position: fixed;
  bottom: 0;
}

.tek1 {
  border-bottom: 1px solid #bebaba;
}
.tekleft {
  float: left;
  padding-left: 10px;

  /* background-color: rgba(0, 0, 0, 0.1); */
}
.tekright {
  float: right;
  padding-left: 10px;
  /* background-color: rgba(0, 0, 0, 0.1); */
}
footer nav a {
  text-decoration: none;
  padding-left: 10px;
}

footer nav a:hover {
  text-decoration: underline;
}
