html {
    /*? Default font-size 16px */
    /* font-size: 20px; * default fontsize=20px */
  }
  
  h1 {
    /*? Degistirilmedigi surece h1'in buyuklugu default font-size'ın 2 katidir. 16x2 = 32px*/
    color: red;
  }
  p {
    /*? p'nin size default font-size a eşittir.; */
    font-size: 20px;
  }

/* ========================================= */

.abs{
    font-size: 20px;
    font-size: 1cm;
}
p.percent{
    font-size: 200%;
}
.div1 {
    font-size: 1em;
}
.div2{
    font-size: 2em;
}
.div3{
    font-size: 3em;
}

/* ==================================== */

.div4{ 
    font-size: 1rem;  /* 16px*1=16 */
}
.div5{
    font-size: 2rem;  /* 16px*2=32 */
}
.div6{
    font-size: 3rem;  /* 16px*3=48 */
}

/* ========================================= */


p.text-style{
    font-style: italic;
    font-weight: 200;
    font-weight: bolder;
    font-variant: small-caps;
}

p.text-style .elit {
    color: red;

/*Decoration */
    text-decoration:line-through  ;
    text-decoration:overline ;
    text-decoration:underline ;
    text-decoration:none ;
}
.spacing{
    line-height: 1.5;
 word-spacing: 10px;
 letter-spacing: 2px;
}
.shadow{
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: rgb(183, 71, 71);
    border-radius: 1rem;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.9)
}
.shadow h2{ 
    text-shadow: 0px 4px 3px  rgba(0, 0, 0, 0.5);
}

























