.fixed{
    background-color: crimson;
    padding: 20px;
    position: fixed;
    opacity: 0.5;
}


.sticky{
    background-color: orange;
    padding: 10px;
    position: sticky;
    top: 50px;
   
}

















