.box{
    border: 2px solid red;
margin-bottom: 2rem;
    width: 25rem;
    width: 15rem;
    height:10rem;

}


.box1{
    background-color: aqua;
    overflow: visible;
}
.box2{
    overflow: hidden;
}
.box3{
    overflow: scroll;
}
.box4{
    overflow: auto;
}
























