* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 1000px;
    border: 1px solid red;
    position: relative;

  }
  .box {
    width: 7rem;
    height: 7rem;
  }

.box1{
  background-color: red;
  border: 1px solid black;
  position: relative;
  top: 30px ;
  left: 50px;
}

.box2{
  background-color: orange ;
  border: 1px solid black;
  position: absolute;
  top:70px;
}




