.box{
    width: 7rem;
    height: 4rem;
    border: 1px solid black;
}


.box1{
    background-color: brown;
    position: absolute;
    left: 50px;
}


.box2{
    background-color: aqua;
    position: absolute;
    left: 70px;
    top: 20px;
    
    z-index: 1;
}


.box3{
    background-color: pink;
    position: absolute;
    /* left: 50px; */
    z-index: -1;
}



.box4{
    background-color: green;
    position: absolute;
    top: 35px;
    left: 60px;
    z-index: -2;
}











