*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vh;
    
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}


.bg-image{
    background-image: url(./Img_1.png);
    background-size: cover;
    width:1440px;
    height: 755px;
    margin: auto;
    box-shadow: 2px 2px 10p rgba(0, 0, 0, 0.9);
    position: relative;
    overflow: hidden;
}

.ground{
    background-image: url(./Img_02.png);
    position: absolute;
    height: 150px;
    width: 15000%;
    
    bottom: 0;
    left: 0;
    animation: left-move  1s linear infinite;
}

.car{
    position: absolute;
    bottom: 52px;
    left: 25%;
    animation: hop-up 0.8s linear infinite;
  
}

@keyframes left-move {
    100%{
        transform: translate(
            -2000px
        );
    }
}

@keyframes hop-up {
    0%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(1px);
    }
}














