* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.3rem;
}
body {
  background-color: #222;
  
  /* !CENTERİNG */

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* !GRİD CONTAİNER */

div.grid-container {
  width: fit-content;
  margin: auto;
  padding: 1.5rem;
  background-color: #000;
  border-radius: 3rem;
  /* grid system */
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(7, 5rem);
  /* grid gap */
  gap: 0.5rem;
  /* grid-template-areas */
  grid-template-areas:
    "empty empty empty empty"
    "empty empty empty empty"
    "key1 key2 key3 key4"
    "key5 key6 key7 key8"
    "key9 key10 key11 key12"
    "key13 key14 key15 key16"
    /* 'key13 key14 key15 key16' */
    "key-zero key-zero key19 key20";
}

/* !GRİD ITEMS */

div.grid-container > div.grid-item-screen {
  grid-area: empty;
}

div.grid-container > button.grid-item {
  font-size: 2rem;
  color: white;
  border-radius: 50%;
}
div.grid-container > button.grid-item:hover {
  cursor: pointer;
  opacity: 0.5;
}

div.grid-container > button.grid-item-button-zero {
  grid-area: key-zero;
  border-radius: 15rem;
  text-align: left;
  padding-left: 1.7rem;
}

/*! COLORS */
div.grid-container > button.btn-light {
  background-color: #a5a5a5;
}

div.grid-container > button.btn-dark {
  background-color: #333333;
}

div.grid-container > button.btn-orange {
  background-color: #f1a33c;
}
