.box1{
    border: 3px solid rgb(47, 0, 255);
}
span{
    width: 90px;
    height: 300px;
    background-color: rgb(64, 0, 255);
    display: inline-block;
    position: relative;
left: 10px;

}

.box{
    display: inline;
    width: 50%;
    padding: 20px;
    /* background-color: green; */
    /* color: white; */
    text-align: center;
    position: fixed;
    right: 0p;

/* }
body{
    height: 1000px;
} */