*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    
}


/* =======HEADER======== */
header{
    background-image: background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
}

header a img{
    width: 60px;
}
header .sign-in{
    float: right;
    color: #920101;
    padding-top: 1.7rem;
    padding-right: 0.5rem;
}


header .sign-in a{
    color: #920101;
    text-decoration: none;
    font-weight: 700;
}
header .sign-in a:hover{
    border-bottom: 2px solid #920101 ;
}

/* ===============NAV STİCKY======== */


nav.sticky{
position: sticky;
top: 0rem;
padding: 2rem;
background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
text-align: center;
z-index: 1;
}


nav.sticky a{
font-family: "DynaPuff", cursive;
color: black;
text-decoration: none;
margin-right: 0.8rem;

}
nav.sticky a:hover{
    color: white;

}




/* ============NAV BANNER ===================== */

nav.banner{
    position: relative;
}
nav.banner img{
width: 100%;
max-height: calc(100vh - 170px)
}


nav.banner .hero{
    /* border: 2px solid red; */
    position: absolute;
    top: 30%;
    left: 10%;
}
nav.banner .hero h2{
    color: white;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    text-shadow: 0px 2px 4px black;
}
nav.banner .hero h3{
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: red;
    text-shadow: 0px 2px 4px grey;
}
nav.banner button{
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    background-color: #d9afd9;
    font-weight: 700;
}
nav.banner button:hover{
    opacity: 0.5;
    cursor: pointer;
}


/* ==================MAİN======================= */

main{
    padding: 2rem;
    text-align: justify;
}

.par{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




/* ==========SLACK İCON ================ */

.slack{
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    padding: top 0.16rem;
    background-color: red;
}

.slack:hover{
    cursor: pointer;
    outline: 2px solid red;
    outline-offset: 5px;
    color: gray;
}










