/* ul{
    list-style-type:none ;
    list-style-image:url(../../img/L\ gifi.gif) ;
    color: rgb(200, 45, 195);
    font-size: 20px;
}

ul{
    list-style:none inside  url(../../img/L\ gifi.gif) ;
} */

ul li{
    
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    
}

span{
    font-weight: 900;
    color: red;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: purple;
}

a:visited{
    color: red;
}
a:active{
    color: rgb(190, 122, 19);
}























